 body{
	background-image: url(fon.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed
}
img{
	transform: scale(1.0);
	transition: 1s all;
}
img:hover{
	transform: scale(1.4);
			
} 
#back{
	transform: scale(1.0);
	transition: 1s all;
}
#back:hover{
	transform: scale(1.4);
			
} 
*{
	text-decoration:none;
}
table{
	border-collapse:collapse;   
	empty-cells:hide;
}
