 body{
	background-image: url(https://img1.akspic.ru/image/113673-angle-simmetriya-uzor-treugolnik-zelenyj-3840x2160.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed
}
img{
	transform: scale(1.0);
	transition: 1s all;
}
img:hover{
	transform: scale(1.4);
			
} 
#back{
	transform: scale(1.0);
	transition: 1s all;
}
#back:hover{
	transform: scale(1.4);
			
} 
